@model turbo_funicular.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<hr />
<div>
    <dl class="row">
        <dt>Host:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt>Description:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>Created:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>Max number of participants:</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
        <dt>Participants:</dt>
        <div>
            @foreach (var userEvent in Model.UserEvents)
            {
                <dd>
                    @userEvent.User.Username
                </dd>
            }
        </div>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
